<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503134309641-37r4ivcnk7shq7igq15l2i68qi3skmbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503134309641-37r4ivcnk7shq7igq15l2i68qi3skmbp</string>
	<key>API_KEY</key>
	<string>AIzaSyDRe3Q1AVXwGyGgZNfd_-DnolUmv0Ix8Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>503134309641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-14ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-14ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503134309641:ios:e65d81b6cd9be68cf457d8</string>
</dict>
</plist>